<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright © 2012 ecuacion.jp (info@ecuacion.jp)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE xml>
<included>

	<!--
		Console output for Spring and other external frameworks/libraries. Defined here since it is only used in local environments.
		The log level of Spring Framework output cannot be controlled via logger level settings,
		only via appender filter settings.
		However, if the app-side logging is set to TRACE, Spring Framework logs also become TRACE,
		which results in too much output.
		Therefore, a separate appender for Spring Framework log output is required.
	 -->
	<appender name="all-console" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${loglevel-root}</level>
		</filter>
	</appender>
	
	<!--
		Console output for the application. Defined here since it is only used in local environments.
		Ideally this would be consolidated into the spring-console appender for simplicity,
		but use this appender when you want to see app-specific logs at TRACE level
		while avoiding the flood of Spring Framework internal TRACE logs.
	 -->
	<appender name="app-console" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
</included>